<div class="main-menu navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://voltawriter.com/" class="navbar-brand">
                <img src="/assets/images/volta.png" alt="volta" />
            </a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li> -->
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
                    <!-- <a ng-show="isActive('/login')" href="/signup">SIGN UP</a> -->
                    <a id="signin" href="/login"><i class="fa fa-pencil"></i> SIGN IN</a>
                </li>
                <li ng-show="isLoggedIn()">
                    <p class="navbar-text"><a style="padding: 0px; color: #999999" href="/dashboard">Hello {{ getCurrentUser().firstName }}</a></p>
                </li>
                <!-- <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li> -->
                <li ng-show="isLoggedIn()"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
