<navbar>
</navbar>
<div class="jumbotron row" id="banner">
    <div class="col-md-offset-3 col-md-6">
        <h1>The old school word processor built for the cloud.</h1>
        <p class="lead">Volta is 100% free. No premium plans, No ads. For life.</p>
        <button ng-click="go('/signup')" class="btn btn-lg btn-volta">Write Now</button>
    </div>
</div>
<div class="row center-block text-center">
    <div class="splashframe col-lg-12" style="padding: 0px;">
        <img src="/assets/images/splashframe-top.png" alt="" style="width: 100%">
        <div class="">
            <uib-carousel id="carousel" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide active="true">
                    <img ng-src="/assets/images/Default_Terminal.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/Dashboard_Title_Rename.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/Doogie_Howser_Terminal.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/Projects.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/OrangeTerminalSlimSideMenu.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/New_Project.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/Commodore_Gray.png">
                </uib-slide>
                <uib-slide>
                    <img ng-src="/assets/images/BlackLatoTerminal.png">
                </uib-slide>
            </uib-carousel>
        </div>
        <img src="/assets/images/splashframe-bottom.png" alt="" style="width: 100%">
    </div>
    <!-- <img src="assets/images/SplashFrame.png" class="img-responsive" alt="splash image"/> -->
</div>
<div id="product" class="row">
    <div class="col-md-12">
        <h1>
      Meet the coolest thing to happen to the word processor since the word processor.
    </h1>
    </div>
</div>
<div id="features" class="row">
    <div id="inner-features" class="col-md-12">
        <div id="feature" class="row">
            <div class="col-md-offset-2 col-md-4">
                <img class="img-responsive center-block" src="/assets/images/terminal.png" />
            </div>
            <div class="col-md-4 center-block">
                <strong>Choose your terminal</strong>
                <p>
                    Select from six radiant full screen writing terminals meticulously fashioned in the style of first generation word processors and updated for the cloud.
                </p>
            </div>
        </div>
        <div id="feature" class="row">
            <div class=" col-md-offset-2 col-md-4">
                <strong>Simple file management</strong>
                <p>
                    Imagine a dashboard in which everything was right where you would expect it. Imagine a beautiful UI that required no effort whatsoever to master. That's Volta.
                </p>
            </div>
            <div class="col-md-4 center-block">
                <img class="img-responsive center-block" src="/assets/images/filemanage.png" />
            </div>
        </div>
        <div id="feature" class="row">
            <div class="col-md-offset-2 col-md-4">
                <img class="img-responsive center-block" src="/assets/images/piggy.png" />
            </div>
            <div class="col-md-4 center-block">
                <strong>Volta is free!</strong>
                <p>
                    We made Volta for writers: broke, starving, struggling, or otherwise. That’s why it will always be 100% free. No ads. No premium plans. No credit cards required. For life!
                </p>
            </div>
        </div>
    </div>
</div>
<div id="story" class="row text-center">
    <div class="col-md-12">
        <strong>
      Our Story
    </strong>
        <p class="center-block">
            Volta is the brainchild of Writerboy, a small group of San Francisco-based app developers and designers, all with one thing in common. We love to write. We wanted to create a writing platform we would look forward to using. So that's what we did.
        </p>
    </div>
</div>
<div id="support" class="row text-center">
    <div class="col-md-12">
        <div class="inner-support">
            <strong>
        Support the Volta Project
      </strong>
            <p class="center-block">
                Volta is currently free, and we would like to keep it that way, but our little experiment can only flourish with the support of an engaged community. So if you like what we’re doing, and you can spare the scratch, please make a donation today!
            </p>
            <a href="https://voltawriter.dntly.com/campaign/1450#/" class="btn btn-lg btn-volta">Make a Donation</a>
        </div>
    </div>
</div>
<div id="madewith" class="row text-center">
    <div class="col-md-12">
        <div class="inner-madewith">
            <strong>MADE BY WRITERBOY</strong>
            <div id="socialLinks" class="row">
                <a href="https://www.facebook.com/writerboyinc"><img src="/assets/images/Facebook.png" /></a>
                <a href="https://plus.google.com/+Writerboy"><img src="/assets/images/Google+.png" /></a>
                <a href="https://www.linkedin.com/company/writerboy"><img src="/assets/images/Linked-in.png" /></a>
                <a href="http://holycannoliitswriterboy.tumblr.com/"><img src="/assets/images/Tumblr.png" /></a>
                <a href="https://twitter.com/writerboy1"><img src="/assets/images/Twitter.png" /></a>
            </div>
            <p>
                Write early. Write often. Keep writing.
            </p>
        </div>
    </div>
</div>
<!-- <div class="container">
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">Features:</h1>
<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
</ul>
</div>
</div>

<form class="thing-form">
<label>Syncs in realtime across clients</label>
<p class="input-group">
<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
</span>
</p>
</form>
</div> -->
<footer></footer>
